/* src/global.css */

body {
    font-family: 'Roboto', sans-serif;
  }
  
.font-lato { 
    font-family: 'Lato', sans-serif; 
  }

.font-work-sans { 
    font-family: 'Work Sans', sans-serif; 
  }

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }